/* RESET */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*input {
  border: none;
  border-bottom: 1px solid #1890ff;
  padding: 5px 10px;
  outline: none;
}*/
* {
  font-family: sans-serif;
}

/* GLOBAL */
.allContain {
  background-color: #f6efe8;
  font-family: Arial, Helvetica, sans-serif;
}

.b-cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

.b-cabecera .b-logo__img {
  width: 100px;
  height: 60px;
  padding-left: 30px;
}

.b-menu__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 30px;
}

aside {
  padding: 5%;
  background-color: #f6efe8;
}

aside .b-h1__1 {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-p__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.b-btn__1 {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  background-color: #4a154b;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: white;
}

.b-google__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: white;
  border-radius: 5px;
  background-color: white;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.b-btn__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  background-color: #4285f4;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: white;
}

.divimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 210px;
}

.b-emo__img {
  width: 90%;
  height: 100%;
}

.b-logo__gallery {
  padding: 5%;
  padding-top: 60px;
  background-color: #f6efe8;
}

.b-sec__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foxlogo {
  width: 70px;
  height: 35px;
}

.b-sec__2 {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-sec__3 {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.b-contenedor__2 {
  padding: 5%;
  padding-top: 70px;
  background-color: white;
}

.b-contenedor__2 .b-p__2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.b-contenedor__2 img {
  padding-top: 30px;
  padding-bottom: 5px;
  width: 100%;
}

.b-contenedor__3 {
  padding: 5%;
  padding-top: 30px;
  background-color: white;
}

.b-contenedor__3 .b-p__2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.b-contenedor__3 img {
  padding-top: 30px;
  padding-bottom: 5px;
  width: 100%;
}

.b-contenedor__4 {
  padding: 5%;
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: white;
}

.b-contenedor__4 .p-1 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.b-contenedor__4 img {
  padding-top: 30px;
  padding-bottom: 5px;
  width: 100%;
}

.b-contenedor__5 {
  padding: 5%;
  padding-top: 50px;
}

.b-contenedor__5 .num1 {
  width: 40px;
  height: 40px;
  background-color: #4a154b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.b-contenedor__5 .num1 p {
  color: white;
  font-size: x-large;
}

.b-contenedor__5 h3 {
  padding-bottom: 25px;
}

.b-contenedor__5 .num2 {
  width: 40px;
  height: 40px;
  background-color: #4a154b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.b-contenedor__5 .num2 p {
  color: white;
  font-size: x-large;
}

.b-contenedor__5 .num3 {
  width: 40px;
  height: 40px;
  background-color: #4a154b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.b-contenedor__5 .num3 p {
  color: white;
  font-size: x-large;
}

.divSlide {
  margin: 0 auto;
  width: 300px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.divSlide img {
  margin: 5%;
}

.divSlide p {
  margin: 5%;
}

.divSlide h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.divSlide a {
  margin: 5%;
}

.balls {
  background-color: #f6efe8;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balls .ball1 {
  margin: 5px;
  width: 15px;
  height: 15px;
  background-color: #4a154b;
  border-radius: 50px;
}

.balls .ball2 {
  margin: 5px;
  width: 15px;
  height: 15px;
  background-color: #a3a3a3;
  border-radius: 50px;
}

.balls .ball3 {
  margin: 5px;
  width: 15px;
  height: 15px;
  background-color: #a3a3a3;
  border-radius: 50px;
}

.balls .ball4 {
  margin: 5px;
  width: 15px;
  height: 15px;
  background-color: #a3a3a3;
  border-radius: 50px;
}

.borderBottom {
  background-color: #4a154b;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderBottom h1 {
  color: white;
  margin: 3%;
  padding-bottom: 20px;
  text-align: center;
}

.borderBottom .buttonWhite {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 60px;
  background-color: white;
  margin-bottom: 15px;
  color: #4a154b;
}

.borderBottom .buttonPurple {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 60px;
  background-color: #4a154b;
  margin-bottom: 15px;
  color: white;
  border: 1px solid white;
}

.halfBorder {
  width: 100%;
  height: 100px;
  background-color: #4a154b;
  border-radius: 50% / 0 0 100% 100%;
}

.logoSlack_div {
  background-color: white;
}

.logoSlack2 {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-top: 50px;
}

.borderdiv {
  background-color: white;
  border-bottom: 1px solid grey;
  height: 270px;
}

.borderdiv__p {
  padding-top: 30px;
  margin-left: 20px;
  font-weight: bold;
}

.divmoreinfo {
  background-color: white;
}

.divmoreinfo__p {
  padding-top: 30px;
  margin-left: 20px;
  font-weight: bold;
}

.logoIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoIcon__1 {
  width: 30px;
  height: 30px;
}

.iconsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-top: 25px;
}

.iconsdiv__down {
  width: 20px;
  height: 20px;
}

.iconsdiv__lang {
  width: 20px;
  height: 20px;
}

.iconsdiv__p {
  margin-left: 5px;
  font-weight: bold;
}

.copydiv {
  margin-left: 20px;
  margin-right: 20px;
}

.copydiv__p {
  font-size: 10px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */